<nav class="nav-wrapper blue">
  <div class="container-fluid">
    <div class="navbar">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ">
          <div>
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/']">Home</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/lights']">Lights</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/map']">Home Map</a></li>
          </div>
        </ul>
      </div>
    </div> 
  </div>
</nav>