<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <h4 class="center">Room A components status</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <h5 class="center">Lights in the room</h5>
        <table class="striped highlight black-text">
          <thead>
            <th class="center">Id</th>
            <th class="center">Status</th>
            <th class="center">Light</th>
            <th class="center">Room Name</th>
          </thead>
          <tbody>
            <tr *ngFor="let _light of light">
              <td class="center">{{ _light.id}}</td>
              <td class="center">{{ _light.state}}</td>
              <td class="center">{{ _light.name}}</td>
              <td class="center">{{ _light.room_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <h5 class="center">Room information</h5>
        <table>
          <thead>
            <th class="center">Id</th>
            <th class="center">Room Name</th>
            <th class="center">Temperature</th>
            <th class="center">Humidity</th>
          </thead>
          <tbody>
            <td class="center">{{ room.id}}</td>
            <td class="center">{{ room.name}}</td>
            <td class="center">{{ room.temp}}</td>
            <td class="center">{{ room.humd}}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/rooms']">Back to Home Map</a></li>
    </div>
  </div>
</div>