<div class="container">
  <div class="navbar-header">
    <br>
    <div class="card">
      <h4>Access to each room Information</h4>
      <br>
    </div>
    <br>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/rooms/balcony']">Balcony</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/rooms/room_a']">Room_A</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/rooms/living']">Living</a></li>
  </div>
  <br>
  <img src="../../../assets/room.jpeg" alt="image">
</div>