<div class="container">
  <div class="navbar-header">
    <br>
    <div class="card">
      <h4>Accede a la información de cada habitacion</h4>
    </div>
    <br>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 1</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 2</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 3</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 4</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 5</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 6</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 7</a></li>
    <li class="btn" [routerLinkActive]="['active']"><a [routerLink]="['/data/room/id']">Cuarto 8</a></li>
  </div>
</div>

<div class="container">
    <br>
      <img src="./house.png" alt="">
</div>