<div class="container">
  <div class="row">
    <div class="col s15">
      <div class="card">
        <h4>Every light status</h4>
        <br>
      </div>
     <div class="card">
      <table class="striped highlight black-text">
        <thead>
          <th>Id</th>
          <th>Status</th>
          <th>Name</th>
          <th>Room</th>
        </thead>
        <tbody>
          <tr *ngFor="let _light of light">
            <td>{{ _light.id}}</td>
            <td>{{ _light.state}}</td>
            <td>{{ _light.name}}</td>
            <td>{{ _light.room_name}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>
</div>