<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <h4 class="center">Every light status</h4>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
     <div class="card">
      <table class="striped highlight black-text ">
        <thead>
          <th class="center">Id</th>
          <th class="center">Status</th>
          <th class="center">Name</th>
          <th class="center">Room</th>
        </thead>
        <tbody>
          <tr *ngFor="let _light of light">
            <td class="center">{{ _light.id}}</td>
            <td class="center">{{ _light.state}}</td>
            <td class="center">{{ _light.name}}</td>
            <td class="center">{{ _light.room_name}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    
    </div>
  </div>
</div>